.aboutPage-h1 {
  padding-left: 15px;
}

.row {
  margin: 10%;
}

#aboutPage-About,
#aboutPage-contact {
  padding: 5% 15%;
}

#aboutPage-about-desc {
  display: inline-block;
  font-size: 1.2rem;
}

#aboutPage-about-img {
  float: right;
}

#aboutPage-contact {
  background-color: lavender;
  padding-bottom: 10px;
}

#aboutPage-contact .aboutPage-contact-desc {
  margin-top: 60px;
  margin-bottom: 80px;
}

#aboutPage-contact .row {
  margin-bottom: 20px;
  margin-top: 20px;
}
#aboutPage-contact-links {
  text-align: center;
}

.aboutPage-social-icon {
  margin: 10px 20px;
}
